/* style.css */
body{
    background:linear-gradient(#e7a8cf, #f55384);
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    text-align:center;
    color:#f2f2f2;
}

button {
    padding: 10px 20px; 
    margin: 0 10px; 
    font-size: 26px; 
    font-family: 'Sacramento', cursive; 
    background-color: #FB607F; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

#options {
    margin-top: 20px;
}