body {
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 0; 
    background-color: #FADADD; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    position: relative; /* Allows No button movement */
}

#image-container img {
    max-width: 300px;
    height: auto;
}

.question {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    margin-top: 20px;
}

#options {
    margin-top: 20px;
    position: relative; /* Needed for button movement */
}

button {
    padding: 10px 20px; 
    margin: 10px; 
    font-size: 26px; 
    font-family: 'Sacramento', cursive; 
    background-color: #FB607F; 
    color: white; 
    border: none; 
    cursor: pointer;
}

.no-btn {
    position: relative; /* Allows movement */
}
